<!DOCTYPE html>
<html>
<% include head %>

<body>
<nav class="navbar">
  <ul>
    <li id="logoNav">
      <a href="/"><img src="/images/logo.png" alt="LOGO" height="45"></a>
    </li>
    <li>
      <a href="/tasks"><%= __("Task View") %></a>
    </li>
    <li>
      <a href="/productivity"><%= __("Productivity") %></a>
    </li>
    <li>
      <a href="/profile"><%= __("User Profile") %></a>
    </li>
    <li id="logoutButtonNav">
      <a id="logoutButton"><%= __("Log out") %></a>
    </li>
  </ul>
</nav>

<% include modalLogout %>


<section class="sectionProductivity">
  <div class="productivity">

    <div class="graphProd blackBorder">
      <header class="divHeader graphProdHeader"><%= __("Past productivity graph") %></header>
      <div class="graphContainer">
        <canvas id="graph" width="600" height="400">

        </canvas>
      </div>
    </div>

    <div class="summaryProd blackBorder">
      <header class="divHeader summaryProdHeader"><%= __("Summary of the time period") %></header>
      <ul>
        <li>
          <p><%= __("Completed tasks: ") %></p>
          <p id="completed"></p>
        </li>
        <li>
          <p><%= __("Missed deadlines: ") %></p>
          <p id="missed"></p>
        </li>
        <li>
          <p><%= __("Total productivity: ") %></p>
          <p id="total"></p>
        </li>
      </ul>
    </div>
  </div>
</section>

<aside>
  <span id="open" onclick="modifyNav(180, 'hidden')">&#9776; <%= __("Time period") %></span>
  <div class="sidenav" id="mySidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="modifyNav(0, 'visible')">&times;</a>
    <form id="periodForm">
      <fieldset class="checkboxgroup">
        <h1> <%= __("Time period") %> </h1>
        <label><input name="period" value="day" type="radio" checked="yes">Day</label>
        <label><input name="period" value="week" type="radio">Week</label>
        <label><input name="period" value="month" type="radio">Month</label>
        <label><input name="period" value="year" type="radio">Year</label>
      </fieldset>
    </form>
  </div>

</aside>

<div class="hidden">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a
    href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
    href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>

</body>
</html>
