<% tasks.forEach(function(task) { %>
<li class="task">
  <header class="liName"><%= task.name %></header>
  <table>
    <tr>
      <td>
        <%= __("Priority:") %>
      </td>
      <td class="liPriority">
        <%= task.priority %>
      </td>
    </tr>
    <tr>
      <td>
        <%= __("Due:") %>
      </td>
      <td class="liDueDate">
        <%= task.dueDate.toString().split(" 00:00:00")[0] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= __("Description:") %>
      </td>
      <td class="liDescription">
        <%= task.description %>
      </td>
    </tr>
    <% if (task.category != "Completed") { %>
    <tr>
      <td>
        <%= __("Category:") %>
      </td>
      <td class="liCategory">
        <%= task.category %>
      </td>
    </tr>
    <% if (!dailyTop) { %>
    <tr>
      <td>
        <button onclick="editTask(this)"><%= __("Edit") %></button>
      </td>
      <td>
        <button onclick="doneTask(this)"><%= __("Done") %></button>
      </td>
    </tr>
    <% }} %>
  </table>
  <p class="hidden"><%= task.id %></p>

<% }) %>
</li>
